body {
  margin: 0;
  background-color: #ead2d7;
  font-style: italic;
  font-family: 'Bebas Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Bebas Neue', sans-serif;
}
